@use 'variable';
@use 'fonts';

.main{
    display: grid;
    grid-template-rows: 1fr 120px;
    place-items: center;
    height: 100%;
    width: 100%;

    padding: variable.$padding-vertical-main variable.$padding-horizontal-main;

    .text{
        $space-letter: 1.6px;
        $padding_underbar: 6px;
        $margin_vertical_text: 40px;
        $margin_horizontal_text: 32px;
        
        $padding-horizontal-text: 20px;

        $border-width: 1.6px;
        $border-radius: 12px;
        
        height: calc(100% - $margin_vertical_text * 2);
        width: calc(100% - $margin_horizontal_text * 2);
        padding: 0 $padding-horizontal-text;

        border: $border-width solid variable.$foreground;
        border-radius: $border-radius;

        display: grid;
        place-items: center;
        font-size: variable.$font-semi-small;
        letter-spacing: $space-letter;

        &__wrapper{
            
        }
        &__typed{
            @include fonts.roboto-regular;
            color: variable.$foreground;

            
            position: relative;
            
            &::after{
                content: "_";
                @include fonts.roboto-regular;
                font-size: calc(variable.$font-semi-small + $padding_underbar);
                position: absolute;
                right: calc(-1 * variable.$font-semi-small - $padding_underbar / 2);
                bottom: calc(-0.5 * variable.$font-semi-small);

                transform: translateX(-50%);
            }
        }

        &__untyped{
            @include fonts.roboto-regular;
            color: variable.$color-untyped;
    
        }
        
    }
    
    .status{
        $padding-horizontal-status: 20px;

        height: 100%;
        width: 100%;
        padding: 0 $padding-horizontal-status;
        display: grid;
        place-items: center;

        &__exp{
            width: 100%;
            overflow: hidden;
            

        }
    }
    
    .score{
        font-size: variable.$font-regular;
    }
    
   
}